{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div>
    <h1>Stepper Motor Control</h1>
    <input type="range" id="angleSlider" min="0" max="360" value="0" oninput="updateAngleValue(this.value)">
    <span id="angleValue">0</span>°
    <button onclick="setAngle()">Set Angle</button>
    <button onclick="getAngle()">Get Current Angle</button>
    <p id="response"></p>
</div>
{% endblock %}

{% block scripts %}
<script>
    function updateAngleValue(val) {
        document.getElementById('angleValue').textContent = val;
    }

    function setAngle() {
        var angle = document.getElementById('angleSlider').value;
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/set_angle', true);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                document.getElementById('response').innerText = xhr.responseText;
            }
        }
        xhr.send('angle=' + angle);
    }

    function getAngle() {
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '/get_angle', true);
        xhr.onreadystatechange = function() {
            if (xhr.readyState == 4 && xhr.status == 200) {
                document.getElementById('response').innerText = 'Current Angle: ' + xhr.responseText;
            }
        }
        xhr.send();
    }
</script>
{% endblock %}
