{% extends "base.html" %}

{% block title %}Kamera Stream{% endblock %}

{% block content %}
<style>
    .page-container {
        display: flex;
    }

    .sidebar {
        width: 200px;
        padding: 20px;
        border-right: 1px solid #ccc;
    }

    .sidebar ul {
        list-style: none;
        padding: 0;
    }

    .sidebar li {
        margin-bottom: 10px;
    }

    .sidebar a {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
    }

    .camera-container {
        flex-grow: 1;
        text-align: center;
        padding: 20px;
    }

    #streamEsp {
        max-width: 100%;
        height: auto;
        border: 3px solid #ddd;
        margin-bottom: 10px;
    }
</style>

<div class="page-container">
    <div class="sidebar">
        <h3>Kameras</h3>
        <ul>
            {% for cam_name, cam in cameras.items() %}
                <li><a href="{{ url_for('streaming.streamEsp', cam_id=cam_name) }}">{{ cam_name }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div class="camera-container">
        <h1>Stream von {{ cam_id }}</h1>
        <img id="streamEsp" src="{{ url_for('streaming.stream_img', cam_id=cam_id) }}" alt="Camera Stream">
    </div>
</div>
{% endblock %}
